.textarea {
  background-color: #5f5e5b04;
  border: solid 1px transparent;                  
  color: var(--color-heading);                   
  outline: none;                 
  resize: none;               
  height: 60px;
  font-size: var(--font-size-base);
  font-family: 'Inter';
  margin: 0.5em 0em;
  padding: 0.6em ;
}

.textarea::placeholder {
  color: var(--color-placeholder);
}

.textarea:hover{
  border: solid 1px var(--color-transparency);
}