.textarea {
  display: flex;
  background-color: transparent;
  border: solid 1px var(--color-transparency);             
  color: var(--color-heading);                   
  outline: none;                 
  resize: none;               
  height: 60px;
  font-size: var(--font-size-sm);
  font-family: var(--font-family-base);
  margin-bottom: 0.7em;
  padding: 0.6em ;
  border-radius: var(--border-radius);
}

.textarea::placeholder {
  color: var(--color-placeholder);
}

.textarea:hover{
  border: solid 1px var(--color-transparency);
}

.textarea:active{
  border: solid 1px var(--color-primary);
}

.textarea:focus{
    border: solid 1px var(--color-primary);
}

.counter {
  font-size: var(--font-size-sm);
  color: var(--color-transparency);
  margin-top: -10px;
  text-align: end;
}

.container{
  display: flex;
  flex-direction: column;
}