.warningContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  justify-content: center;
}

.icon {
  font-size: var(--font-size-lg);
  color: var(--color-subtext);
}

.title {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-heading);
} 

.message {
    font-size: var(--font-size-sm);
    color: var(--color-subtext);
    text-align: center;
}