.ProjectContainer {
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 40px;
  }

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}