.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
}

.textBalloon {
    font-size: var(--font-size-sm);
    box-shadow: -2px 0 50px rgba(0, 0, 0, 0.021);
    width: 25vw;
    margin: 0px 80px;
    padding: 2em ;
    border: solid 1px var(--color-transparency);
    background-color: transparent;
    color: var(--color-heading);
}

.contentContainer{
    display: flex;
    align-items: center;
}
