.sideBarContainer {
    display: flex;
    width: 100vw;
}

.navContainer{
    display: flex;
    width: 100vw;
    position: absolute;
    padding: 20px;
    z-index: 10;
}

.icons {
  font-size: var(--font-size-lg);
  color: var(--color-heading);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 0.3em;
} 

.icons:hover {
  background-color: var(--color-primary-transparency);
  color: var(--color-primary);
}

.content {
    width: 100vw;
    height: 100vh;
    position: absolute;
  }