.container {
  display: flex;
  height: 90vh;
  width: 95vw;
}

.icons {
  font-size: var(--font-size-lg);
  color: var(--color-heading);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 0.3em;
  border-radius: var(--border-radius);
} 

.icons:hover {
  background-color: var(--color-primary-transparency);
  color: var(--color-primary);
}

.content {
  background-color: white;
  width: inherit;
  border-top: solid 1px var(--color-transparency);
  border-bottom: solid 1px var(--color-transparency);
  border-right: solid 1px var(--color-transparency);
  border-radius: 0 10px 10px 0;
  overflow: hidden;
}