.sideBarContainer {
    display: flex;
    width: 100vw;
}

.navContainer{
    display: flex;
    width: 100vw;
    position: absolute;
    padding: 20px;
    z-index: 10;
}

.icons {
    font-size: 18px;
    color: #5F5E5B;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 8px;
    padding: 0 5px;
  } 
  
.icons:hover {
background-color: #F0F0EF;
}

.content {
    width: 100vw;
    height: 100vh;
    position: absolute;
  }