.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.contentContainer {
    height: 80vh;
    display: flex;
    box-shadow: -2px 0 100px rgba(0, 0, 0, 0.06);

}



.textContainer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.rememberContainer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

img {
    background-color: rgba(224, 224, 224, 0.24);
    width: 30vw;
}

.formContainer{
    padding: 80px;
    background-color: white;
}


.titleContainer{
    margin-bottom: 20px;
}


.errorMessage{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-sm);
    color: var(--color-danger);
}