.projectContainer{
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: white;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2em;
}

.statusContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
}


.objectiveContainer{
    margin: 1em;
    font-size: var(--font-size-sm);
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonEditContainer{
    display: flex;
    justify-content: space-around;
}

.icon{
    font-size: var(--font-size-base);
    color: var(--color-heading);
    cursor: pointer;
    padding: 0.3em 0.5em;
    border-radius: 5px;
}

.icon:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-transparency);
}