.projectContainer{
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: white;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2em;
}

.statusContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.objectiveContainer{
    margin: 1em;
    font-size: var(--font-size-sm);
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonEditContainer{
    display: flex;
    justify-content: space-around;
}

