.sectionContainer{
    align-items: center;
    background-color:rgba(220, 220, 220, 0.158);
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sectionContainer img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 30vh;
    padding: 0px 80px;
    position: absolute;
}