.sectionContainer{
  height: 100vh;
  padding: 80px;
}

.contentContainer{
 display: flex;
 justify-content: space-between;
 height: 100vh;
}

.noticesContainer{
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer {
    margin-top: 20px;
}

.messageContainer{
  width: 30vw;
}