.sectionContainer {
    background-color: var(--color-primary-transparency);
    align-items: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
}