.footer {
    padding: 80px;
}

.contentContainer {
    display: flex;
    border-bottom: solid 1px #cccccccc;
    justify-content: space-between;
    padding-bottom: 80px;
}

.titleContainer{
    text-align: center;
    margin-top: 80px;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color:#cccccc49;
    width: 30vw;
}

.input{
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    width: 100%;
}

.inputContent {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

.contentContainer p:hover {
    text-decoration: underline;
}