.carrousselContainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--color-heading);
}

.imageContainer {
    position: relative; /* <--- necessário pro absolute do ícone funcionar */
    flex: 0 0 auto;
    border: 1px solid var(--color-transparency);
    border-radius: var(--border-radius);
    width: 300px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
}


.trashIcon {
  position: absolute; /* <--- troque de fixed para absolute */
  top: 0.5em;
  right: 0.5em;
  color: var(--color-subtext);
  font-size: var(--font-size-lg);
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 10; /* não precisa ser 999 */
}

.trashIcon:hover{
    color: var(--color-danger);
}

.imageContainer:hover .trashIcon {
  
  opacity: 1;
}

.imageContainerAdd{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border: 1px solid var(--color-transparency);
    border-radius: var(--border-radius);
    width: 300px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    font-size: var(--font-size-xl);
    color: var(--color-transparency);
    cursor: pointer;
}

.imageContainerAdd:hover {
    border: solid 1px var(--color-primary);
    background-color: var(--color-primary-transparency);
    color: var(--color-primary);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.096);
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
.imageContainer:hover{
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.096);
    border-color: var(--color-primary);
}

.adicionarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease, transform 0.1s ease;
    transition: color 0.3s ease, transform 0.1s ease;
}

.adicionarContainerText{
    font-size: var(--font-size-sm);
}