.item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.2em 0;
  margin: 0.2em 0;
}

.icon {
  font-size: var(--font-size-base);
  color: var(--color-heading);
  padding: 0 0.5em;
}
  
.label {
  font-size: var(--font-size-sm);
  color: var(--color-heading);
}
  
.item:hover .icon,
.item:hover .label {
  color: var(--color-primary);
}

.item:hover{
  background-color: var(--color-primary-transparency);
}