.icon {
    color: var(--color-primary);
    font-size: var(--font-size-lg);
}

.title {
    color: var(--color-heading);
    font-size: var(--font-size-sm);
    font-weight: 700;
}

.explanation {
    color: var(--color-primary);
    font-size: var(--font-size-sm);
    text-transform: lowercase;
    margin-bottom: 1em;
}
