.icon {
    color: #5F5E5B;
    font-size: 25px;
}

.title {
    color: #37352F;
    font-size: 14px;
    font-weight: 700;
}

.explanation {
    color: #5F5E5B;
    font-size: 12px;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 5px;
}
