.icon {
    color: var(--color-primary);
    font-size: var(--font-size-lg);
}

.title {
    color: var(--color-heading);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

.explanation {
    color: var(--color-primary);
    font-size: 12px;;
    text-transform: lowercase;
    margin-bottom: 1em;
}
