.status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 11px;
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 20px;
  }
  
  .emAndamento {
    background-color: #3a85ff17 ; /* amarelo/laranja */
    color: #3A86FF ;
  }
  
  .entregue{
    background-color: #00c8960e ; /* verde */
    color: #00C896;
  }
  .atrasado {
    background-color: #f7c8481a ;
    color: #F7C948 ;
  }
  
  .finalizado {
    background-color: #ff6b6b15  ; /* verde */
    color: #FF6B6B;
  }

  