.active {
  display: block;
  border-right: 0.5px solid #F0F0EF;
  width: 200px;
  height: 100vh;
  background-color: #F8F8F7;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 999;
}
  
.disable {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: #F8F8F7;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 999;
}

.logo {
  font-size: 14px;
  font-weight: 600;
  color: #5F5E5B;
  text-transform: uppercase;
}

.title {
  font-size: 14px;
  font-weight: 400;
  color: #A6A299;
  margin: 14px;
}

.headerIcons {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0 16px;
  align-items: center;
  font-size: 18px;
  color: #5F5E5B;
}

.footerIcons {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0 16px;
  align-items: center;
  font-size: 18px;
  color: #A6A299;
}

.projectContainer{
  height: 300px;
  overflow-y: auto;
}

.footerContainer{
  margin: 14px 0 0 0;
}

.iconContainer{
  display: flex;
}

.icons {
  font-size: 18px;
  color: #5F5E5B;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 8px;
  margin-left: 5px;
  padding: 0 5px;
} 

.icons:hover {
  background-color: #F0F0EF;
}