.container {
  background-color: rgba(255, 255, 255, 0.880);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px var(--color-transparency);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 15vw;
  height: initial;
  padding: 1em;
  overflow: auto;
  z-index: 999;
}

.header {
  display: flex;
  border-bottom: solid 1px var(--color-transparency);
  padding-bottom: 0.5em;
}

.logo {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--color-heading);
}

.section {
  padding: 0.5em 0;
}

.title {
  font-size: var(--font-size-sm);
  color: var(--color-heading);
  margin-bottom: 0.5em;
}

.footer {
  padding: 0.5em 0;
}

.footerIcons {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-base);
  color: var(--color-heading);
  cursor: pointer;
}

.projectContainer {
  height: 50vh;
  overflow-y: auto;
}