.section{
    display: flex;
    background-color: var(--color-primary-transparency);
    justify-content: space-evenly;
    
}

.contentContainer{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagePlaceholder {
    width: 25vw;
    height: 30vh;
    object-fit: cover;
}


.title{
font-size: var(--font-size-base);
font-weight: var(--font-weight-bold);
color: var(--color-heading);
}

.textBox{
    width: 26vw;
}

.container{
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

.content {
    margin-top: 2em;
}