.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    margin: 3em;
}

.titleSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdfPage {
    width: 210mm; 
}
  