.rightPanel {
    width: 32vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .imagePlaceholder {
    width: 25vw;
    height: 30vh;
    margin-left: 37px;
    object-fit: cover;
}


.section{
  display: flex;
  justify-content: space-between;
  height: 36.2vh;
}

.title{
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-heading);
  text-transform: capitalize;

}

.titleBlue{
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  text-transform: capitalize;
}

.boxColor {
  background-color: var(--color-primary-transparency);
  padding: 0.5em;
  overflow: hidden;         
  text-overflow: ellipsis;
}

.box {
  background-color: white;
  padding: 0.5em;
  overflow: hidden;        
  text-overflow: ellipsis;
}

.content {
  margin-top: 2em;
}

.icon {
  color: var(--color-primary);
  font-size: var(--font-size-base);
  margin-left: 0.5em;
}

.titleContainer{
  display: flex;
  margin: 0.5em 2.2em;
}