.enabled {
    background-color: #37352F;
    border: solid 1px #37352F;
    color: white;
    margin-left: -1px;
    width: 100px;
    cursor: pointer;
}

.disabled {
    padding: 8px 16px;
    background-color: transparent;
    border: solid 1px #37352F;
    color: #37352F;
    margin-left: -1px;
    width: 100px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.disabled:hover {
    background-color: #37352F;
    color: white;
}

.upload {
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
    color: #37352F;
    border: none;
    background-color: transparent;
    font-size: small;
    font-family: 'Inter';
    font-weight: 500;
}

.upload:hover {
    text-decoration: underline;
}

.success {
    background-color: #37352F;
    border: 1px solid #37352F;
    color: white;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 400;
    padding: 6px 18px;
    font-size: 12px;
}    

.cancel {
    padding: 8px 16px;
    background-color: transparent;
    border: solid 1px #5F5E5B;
    color: #5F5E5B;
    width: 150px;
}

.success:hover {
    background-color: #37352f; /* tom mais escuro do verde atual */
    transition: background-color 0.3s ease;
}

.icon {
    font-size: 18px;
    color: #37352F;
  }

.transparent {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #37352F;
    cursor: pointer;
    display: flex;
    font-family: 'Inter';
    font-weight: 500;
}

.transparent:hover{
    text-decoration: underline;
}

.iconLeft {
    margin-right: 8px;
    display: inline-flex;
    font-size: 18px;
    color: #37352F;
  }
  
.iconRight {
margin-left: 8px;
display: inline-flex;
font-size: 18px;
color: #37352F;
}

  .none{
    background-color: transparent;
    border: none;
  }

.activeL {
    margin: 0;
    background-color: #5F5E5B;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #F0F0EF;
    width: 100%;
    height: 100%;
}

.deactivatedL{
    margin: 0;
    background-color:  transparent;
    border: none;
    color: #5F5E5B;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    height: 100%;
}

.deactivatedL:hover {
    background-color: #5F5E5B;
    color:  #F0F0EF;
    transition: background-color 0.3s ease;
}

.activeR {
    margin: 0;
    background-color: #5F5E5B;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:  #F0F0EF;
    width: 100%;
    height: 100%;
}

.deactivatedR{
    margin: 0;
    background-color:  transparent;
    border: none;
    color: #5F5E5B;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 100%;
}

.deactivatedR:hover {
    background-color: #5F5E5B;
    color:  #F0F0EF;
    transition: background-color 0.3s ease;
}
  
.likertScale1 {
    background-color: #4caf4f1c;
    border: solid 1px #4CAF50;
    cursor: pointer;
    color: #4CAF50;
    font-size: small;
    font-weight: 500;
    width: 100%;
    margin: 2px;
}

.likertScale2 {
    background-color: #ccdc3910;
    border: solid 1px #CDDC39;
    cursor: pointer;
    color: #CDDC39;
    font-size: small;
    font-weight: 500;
    width: 100%;
    margin: 2px;
}

.likertScale3 {
    background-color: #ffc10710;
    border: solid 1px #FFC107;
    cursor: pointer;
    color: #FFC107;
    font-size: small;
    font-weight: 500;
    width: 100%;
    margin: 2px;
}
.likertScale4 {
    background-color: #ff99001e;
    border: solid 1px #FF9800;
    cursor: pointer;
    color: #FF9800;
    font-size: small;
    font-weight: 500;
    width: 100%;
    margin: 2px;
}

.likertScale5 {
    background-color: #f4433628; 
    border: solid 1px #F44336;
    cursor: pointer;
    color: #F44336;
    font-size: small;
    font-weight: 500;
    width: 100%;
    margin: 2px;
}

.save {
    background-color: #666e42;
    border: 1px solid #666e42;
    color: white;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 400;
    padding: 8px 16px;
    font-size: 12px;
    margin-top: 15px;
}    

.deactivated{
    margin: 0;
    background-color:  transparent;
    border: none;
    color: #5F5E5B;
    cursor: pointer;
    width: 100%;
}

.deactivated:hover {
    background-color: #5F5E5B;
    color:  #F0F0EF;
    transition: background-color 0.3s ease;
}

.active {
    margin: 0;
    background-color: #5F5E5B;
    border: none;
    color:  #F0F0EF;
    width: 100%;
    height: 100%;
}

/*COMEÇO DA PADRONIZAÇÃO*/

/* Base do botão */
.button {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  border: none;
  border-radius: 0px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*Botão primário*/
.primary {
  background-color: transparent;
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
}

.primary:hover:active{
   background-color: #3879fc;
}

.primary:hover {
  color: var(--color-text);
  background-color: var(--color-primary);
  color: var(--color-text);
}

/*Botão secundário */
.secondary {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: solid 1px var(--color-primary);
  }
  
  .secondary:hover{
     background-color: #3879fc;
  }
  

/*Botão transparente*/
.transparent {
    background-color: transparent;
    margin: 0;
}

.transparent:hover {
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
}

/*Botão com bordas*/
.outline{
  border-top: solid 2px transparent;
  background-color: transparent;
  transition: border 0.3s ease, transform 0.1s ease;
  transition: color 0.3s ease, transform 0.1s ease;
  margin: 0;
}

.outline:hover{
    border-color: var(--color-primary);
    color: var(--color-primary);
}

/*Botão desabilitado*/
.disabled {
  background-color: #E0E0E0;
  color: #A6A6A6;
  cursor: not-allowed;
}
  