/* Base do botão */
.button {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  border: none;
  border-radius: 0px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*Botão primário*/
.primary {
  background-color: transparent;
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
}
.primary:hover:active{
   background-color: #3879fc;
}
.primary:hover {
  color: var(--color-text);
  background-color: var(--color-primary);
  color: var(--color-text);
}

/*Botão secundário */
.secondary {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: solid 1px var(--color-primary);
  } 
.secondary:hover{
  background-color: #3879fc;
}

.highcontrast {
  display: flex;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-text);
} 
.highcontrast:hover{
  background-color: #3879fc;
}


.lowcontrast {
    display: flex;
    width: 100%;
    background-color: transparent;
    color: var(--color-primary);
}
.lowcontrast:hover{
    text-decoration: underline;
}

/*Botão transparente*/
.transparent {
    background-color: transparent;
    border: transparent;
    margin: 0;
}

.transparent:hover {
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
}

.close{
  background-color: crimson;
  color: white;
  padding: 0.2em;
}

/*Botão com bordas*/
.outline{
  border-top: solid 2px transparent;
  background-color: transparent;
  transition: border 0.3s ease, transform 0.1s ease;
  transition: color 0.3s ease, transform 0.1s ease;
  margin: 0;
}

.outline:hover{
    border-color: var(--color-primary);
    color: var(--color-primary);
}

/*Botão desabilitado*/
.disabled {
  background-color: #E0E0E0;
  color: #A6A6A6;
  cursor: not-allowed;
}

/*Apenas o ícone*/
.icon {
    background-color: transparent;
    padding: 5px 8px;
    font-size: var(--font-size-base);
}
.icon:hover{
    background-color: var(--color-primary-transparency);
    color: var(--color-primary);
}
