.buttonContainer {
  display: flex;
  background-color: var(--color-primary-transparency);
  padding: 0.3em;
  margin: 0.5em 0em;
}

.form {
    display: flex;
    flex-direction: column;
}

/*
  icon={<i class="bi bi-ui-checks"></i>}
  icon={<i class="bi bi-info-circle"></i>}
  icon={<i class="bi bi-toggles"></i>}
*/