.buttonContainer {
  display: flex;
  background-color: var(--color-primary-transparency);
  padding: 0.3em;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
}

.form {
    display: flex;
    flex-direction: column;
}