.buttonContainer {
  display: flex;
  background-color: var(--color-primary-transparency);
  padding: 0.3em;
  margin: 0.5em 0em;
  border-radius: var(--border-radius);
}

.namesContainer{
    display: flex;
    flex-direction: column;
}

.searchResults {
    position: fixed;
    border: solid 1px var(--color-transparency);
    max-height: 150px;
    overflow-y: auto;
    background: white;
    padding: 0.3em ;
    margin: 0;
  }
  
  .name {
    font-size: var(--font-size-sm);
    padding: 5px;
    cursor: pointer;
  }
  
  .name:hover {
    background-color: var(--color-primary-transparency);
    color: var(--color-primary);
  }
  
.selectedList {
  margin: 0;
  display: flex;
  background-color: var(--color-primary-transparency);
  overflow: hidden;
  max-width: 25vw;
  border: solid 1px transparent;
  border-radius: var(--border-radius);
}

.selectedList:hover{
  border: solid 1px var(--color-primary);
}

.selectedParticipant {
  display: flex;
  align-items: center;
  background-color: white;
  color: var(--color-label);
  cursor: pointer;
  border: 1px solid var(--color-transparency);
  border-radius: 50px;
  padding: 4px 8px;
  margin: 0.3em;
  max-width: 100%;
  overflow: hidden;
  font-size: var(--font-size-sm);
}

.selectedParticipant > div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px; /* ou qualquer valor que funcione bem no seu layout */
}

.selectedParticipant:hover{
  border: 0.5px solid var(--color-primary);
  color: var(--color-primary);
}

.icon {
    font-size: var(--font-size-base);
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 5px;
    padding: 0 0.1em;
    border-radius: 5px;
  } 
  
.icon:hover {
  background-color: crimson;
  color: white;
}