.stepper {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
  
.step {
  display: flex;
  align-items: center;
}
  
.square {
  border: solid 1px var(--color-transparency);
  border-radius: 5px;
  height: 1.5em;
  width: 1.5em;
  font-size: var(--font-size-sm);
  color: var(--color-transparency);
  text-align: center;  
}

.label {
  font-size: var(--font-size-sm);
  color: var(--color-transparency);
  text-align: center;
  margin-left: 0.5em;
}
  
.active {
  background-color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  color: white; 
}
  
  
.activeLabel {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
}
