.title {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon {
    background-color: white;
    padding: 0.1em 0.3em;
    border-radius: 5px;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
    margin-right: 0.5em;
}

.file {
    background-color:  var(--color-primary-transparency);
    border-radius: 5px;
    padding: 0.5em;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px transparent;
    transition: all 0.2s ease;
}

.file:hover {
    border: solid 1px var(--color-primary);
}

.nameContainer{
    display: flex;
    align-items: center;
}