.title {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
}

.icon {
    font-size: 18px;
    color: var(--color-primary);
    margin: 5px;
}

.file {
    background-color:  var(--color-primary-transparency);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px transparent;
    transition: all 0.2s ease;
}

.file:hover {
    border: solid 1px var(--color-primary);
}

.nameContainer{
    display: flex;
    width: 10vw;
    align-items: center;
}