.label {
    font-size: 12px;
    font-weight: 600;
    color: #5F5E5B;
}

.input {
    font-size: 14px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 4px 0;
    color: #000;
}