.input{
    width: 23.5vw;
    display: flex;
    align-items: center;
    padding: 0.6em ;
    border: solid 1px var(--color-transparency);
    background-color: transparent;
    margin-bottom: 5px;
    border-radius: var(--border-radius);
}

.input:active{
    border: solid 1px var(--color-primary);
}

.errorInput {
    width: 23.5vw;
    align-items: center;
    padding: 0.6em ;
    border: solid 1px crimson;
    background-color: transparent;
    margin-bottom: 5px;
  }

  