.input{
    width: 23.5vw;
    display: flex;
    align-items: center;
    padding: 0.6em ;
    border: solid 1px var(--color-transparency);
    background-color: white;
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-base);
}

.inputForm{
    width: 40vw;
    align-items: center;
    padding: 0.5em ;
    border: solid 1px var(--color-transparency);
    background-color: white;
    margin-bottom: 0.5px;
    border-radius: var(--border-radius);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-base);
}

.editing {
    align-items: center;
    padding: 0.6em ;
    border: solid 1px var(--color-transparency);
    background-color: white;
    margin-left: 1em;
    border-radius: var(--border-radius);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-base);
}


.editing:active{
    border: solid 1px var(--color-primary);
}

.input:active{
    border: solid 1px var(--color-primary);
}

.editing:focus{
    border: solid 1px var(--color-primary);
}

.input:focus{
    border: solid 1px var(--color-primary);
}


.errorInput {
    align-items: center;
    margin-bottom: 0.5px;
    width: 40vw;
    padding: 0.5em ;
    background-color: white;
    border: solid 1px var(--color-danger);
    border-radius: var(--border-radius);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-base);
}

  