.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-transparency);
    width: 100vw;
    height: 198px;
    border-bottom: solid 1px var(--color-transparency);
}