.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2em; 
  cursor: pointer;
  color: var(--color-heading);
  transition: all 0.2s ease;
  border-left: solid 2px transparent;
  padding-left: 0.5em;
}
  
.item:hover {
  border-color: var(--color-primary);
}

.item:hover .icon,
.item:hover .label {
  color: var(--color-primary);
}
  
.label {
  font-size: var(--font-size-sm);
  color: var(--color-heading);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
  
.buttonWrapper {
  display: none;
}

.item:hover .buttonWrapper {
  display: inline-block;
}

.textContainer {
  display: flex;
}

.projectIcon {
  font-size: var(--font-size-sm);
  color: var(--color-heading);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 0.3em;
} 

.projectIcon:hover {
  background-color: var(--color-primary-transparency);
  color: var(--color-primary);
  border-radius: var(--border-radius);
}


