.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  margin-bottom: 0.1em; 
  cursor: pointer;
  color: var(--color-heading);
  transition: all 0.2s ease;
}
  
.item:hover {
  background-color: var(--color-primary-transparency);
}

.item:hover .icon,
.item:hover .label {
  color: var(--color-primary);
}
  
.emoji {
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
}
  
.label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-heading);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


  
.buttonWrapper {
  display: none;
}

.item:hover .buttonWrapper {
  display: inline-block;
}

.textContainer {
  display: flex;
}

.projectIcon {
  font-size: var(--font-size-sm);
  color: var(--color-heading);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 0.3em;
} 

.projectIcon:hover {
  background-color: var(--color-primary-transparency);
  color: var(--color-primary);
}